
body {
    background-color: rgb(240, 240, 240);
    color: #555;
    font-family: Calibri;
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
}

header {
    background-color: rgb(20, 20, 20);
    color: white;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden; 
}


#mainHeader {
    background-color: rgb(80, 120, 175);
}

#mainNavBar {
    background-color: rgb(56, 93, 134);
    margin-left: none;
}

#mainNavBar ul {
    padding: 0;
    list-style: none;
    
}

#mainNavBar li {
    display: inline;
}

#mainNavBar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 20px;
}

img {
    object-fit: cover;
}

#showcase {
    background-image: url("../images/greyBg.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#main {
    float: left;
    width: 70%;
    box-sizing: border-box;
}

#mySideBar {
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#mainFooter {
    color: #fff;
    background: #333;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* RESPONSIVE LAYOUT */
/* This is only active if the condition is true */
@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }
    #mySideBar{
        width: 100%;
        float: none;
    }
}